<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar navbar-default navbar-static-top navbar-inverse">
      <div class="container">
        <ul class="nav navbar-nav">
          <li><a href="#" class="navbar-brand">Brand</a></li>
          <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Profile<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'Base:getAssets' %}">Add Assets</a></li>
                <li><a href="{% url 'Base:getLiabilities' %}">Add Liabilities</a></li>
                <li><a href="{% url 'Base:getDependents' %}">Add Dependents</a></li>
                <li><a href="{% url 'Base:getMonthlyIncome' %}">Add Income</a></li>
                <li><a href="{% url 'Base:getRepeatingExpense' %}">Add Repeating Expense</a></li>
                <li><a href="{% url 'Base:getRepeatingInvestment' %}">Add Repeating Investment</a></li>
              </ul>
            </li>
          {% block navbarTag %}{% endblock %}
        </ul>
      </div>
    </nav>

      {% block body_block %}
      <!-- Anything outside is inherited -->
      {% endblock %}

      {% block custom_js %}{% endblock %}
  </body>
</html>
