{% extends "Base/getBase.html" %}

{% block body_block %}
  <div class="container">
    <form class="form-horizontal" method="POST" action="">
      {% csrf_token %}
      {{ predictionsData.management_form }}



      <div class="row form-row spacer">
        <label>Age</label>
        {{predictionsData.age}}
        <br>

        <label>Health Insurance Value</label>
        {{predictionsData.healthInsurance}}
        <br>

        <label>Highly Liquid Savings</label>
        {{predictionsData.highLiquid}}
        <br>

        <label>Health Insurance Premium</label>
        {{predictionsData.healthInsurancePremium}}
        <br>

      </div>


      <div class="row spacer">
          <div class="col-4 offset-2">
              <button type="submit" class="btn btn-block btn-primary">Create</button>
          </div>
      </div>
    </form>
  </div>
{% endblock %}
