{% extends "Base/getBase.html" %}

{% block body_block %}
  <div class="container">
    <form class="form-horizontal" method="POST" action="">
      {% csrf_token %}
      {{ predictionsData.management_form }}


      <div class="row form-row spacer">
        <!-- <label>Monthly salary</label>
        {{predictionsData.monthly_salary}}
        <br> -->
        <!-- <label>Monthly Expense</label>
        {{predictionsData.monthly_expense}}
        <br>
        <label>Yearly Expense</label>
        {{predictionsData.yearly_expense}}
        <br> -->
        <label>Age</label>
        {{predictionsData.age}}
        <br>
        <!-- <label>Dependents</label>
        {{predictionsData.dependents}}
        <br> -->
        <!-- <label>Total Investment</label>
        {{predictionsData.investmentTotal}}
        <br>
        <label>Monthly Investment</label>
        {{predictionsData.investmentMonthly}}
        <br> -->
        <label>Health Insurance Value</label>
        {{predictionsData.healthInsurance}}
        <br>
      </div>

      <!-- results = [
          monthly_salary1,
          previousInvestment,
          monthlyInvestment,
          expense_yearly,
          expense_monthly,
          dependentsCount
          ] -->

      <div class="row spacer">
          <div class="col-4 offset-2">
              <button type="submit" class="btn btn-block btn-primary">Create</button>
          </div>
      </div>
    </form>
  </div>
{% endblock %}
