{% extends "base.html" %}

{% block body_block %}
  <center><h1>What Mutual Funds should you buy</h1></center>
  <center><h3>Amount to Invest {{amount_invest}}</h3></center>

  <style>
    td{
      text-align: center;
    }
    th{
      text-align: center;
    }
  </style>

  <center>
    <table style = "width : 80%" border = "1">
      <tr>
        <th>Sl</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
      </tr>
      {% for i in MF %}
      <tr>
        <td>{{ i.0 }}</td>
        <td>{{ i.1 }}</td>
        <td>{{ i.2 }}</td>
        <td>{{ i.3 }}</td>
        <td>{{ i.4 }}</td>
      </tr>
      {% endfor %}
      <tr>
        <td></td>
        <td></td>
        <td><b>{{ qtyMF }}</b></td>
        <td></td>
        <td><b>{{ priceMF }}</b></td>
      </tr>
    </table>
  </center>

{% endblock %}
